

body{
	        min-height:100vh;
			display:flex;
			justify-content:center;
			align-items:center;
			
} 
.container{
	       text-align:center
} 

.hexColor{
	       text-transform:capitalize; 
}
.hexBtn{
          padding:0.50rem 0.25rem ; 
          border:3px solid #f15025;
          border-radius: 7px;
          color:#f15025;
          background:rgba(0,0,0,0.6);
		  font-size:1.05rem;
          text-transform:capitalize;
          cursor:pointer;
          outline:none;		  
	
}
.hexBtn:hover{
	      
	      background:rgb(0,0,0);
}

.hex{
	       font-size:3rem;
}